/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./app/cam_work/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.page_main__UXu2J{
    background: #000;
}
.page_gallery__HnlvJ{
    height: 175vh;
    background: rgb(45, 45, 45);
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}
.page_spacer__5JIuz{
    height: 100vh;
}

/* Top-level class exports for the reusable component */
.page_column__l3U19{
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.page_imageContainer__t4gxU{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
}
