.main{
    background: #0b0b0b;
}
.gallery{
    height: 175vh;
    background: rgb(24, 24, 24);
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
}
.column{
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.imageContainer{
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
}
.spacer{
    height: 100vh;
}

